body{
    background:white;
    margin: 0;
}

.header_container{
    background: #152D54;
    color: white;
    height: 60px;
}

.header_container ul{
    list-style-type: none;
    margin-right: 20px;
}

.header_container ul li{
    display: inline;
    margin-left: 40px;
}

header{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.logo{
    width: 315.8 / 2px;
    height: 40px;
    padding-top: 10px;
    padding-left: 20px;
}

.banner_container{
    background: url('../images/banner.png');
    background-size: cover;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    color: white;
    position: relative;
}

.right{
    right: 10px;
    bottom: 10px;
    position: absolute;
}

.download_button{
    width: 200px;
}