body{
    background:white;
    margin: 0;
}

p{
    line-height: 18px;
}

h3{
    line-height: 0px;
}

.header_container{
    background: #152D54;
    color: white;
    height: 60px;
}

.header_container ul{
    list-style-type: none;
    margin-right: 20px;
}

.header_container ul li{
    display: inline;
    margin-left: 40px;
}

.footer_container{
    text-align: center;
    /* background-color: #152D54; */
    margin-left: 1%;
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 12px;
}

.text_center{
    text-align: center;
    background-color: #0D3856;
    padding-top: 30px;
    padding-bottom: 30px;
    white-space: normal;
    word-wrap: break-word;
    word-break: normal;
}

header{
    display: flex;
    justify-content: space-between;
    text-overflow: unset;
    text-align: center;
}

.logo{
    width: 315.8 / 2px;
    height: 40px;
    padding-top: 10px;
    padding-left: 20px;
}

.banner_container{
    background: url('../images/banner.jpg');
    background-size: cover;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    color: white;
    position: relative;
    
}

.right{
    right: 10px;
    bottom: 10px;
    position: absolute;
}

.download_button{
    width: 200px;
}


